@use '../../styles/variables' as *;

$font-base: 'Roboto', sans-serif;

.container {
	position: relative;
	width: 527px;
	height: 48px;
}

.input {
	inline-size: 100%;
	block-size: 100%;
	padding: 12px 40px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	font-family: $font-base;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.32px;
	color: $color-caption;
}

.wrapper,
.button {
	position: absolute;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 12px;
}

.wrapper {
	left: 12px;
	color: $color-caption;
	pointer-events: none;
}

.button {
	right: 12px;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	color: $color-text;
}

.input:not(:placeholder-shown) {
	color: $color-text;
}

.input.filled {
	color: $color-text;
}

.icon,
.clearicon {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
