@use '../../styles/variables' as *;

.field {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.label {
	font-size: 14px;
	line-height: 20px;
	color: $color-text;
	font-weight: 500;

	&.required::after {
		content: ' *';
		color: $color-error;
	}
}

.hint {
	font-size: 12px;
	line-height: 16px;
	color: $color-caption;
	margin-top: 2px;

	&.error {
		color: $color-error;
	}
}
