@use '../../styles/variables' as *;

.container {
	display: flex;
	gap: 24px;
	width: 100%;
	max-width: 440px;
}

.main {
	position: relative;
	width: 324px;
	height: 324px;
}

.main-swiper {
	width: 100%;
	height: 100%;
}

.main-image {
	width: 324px;
	height: 324px;
	object-fit: cover;
	border-radius: 12px;
}

.thumbnails {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 92px;
}

.thumbnail {
	position: relative;
	width: 92px;
	height: 92px;
	border-radius: 12px;
	overflow: hidden;
}

.thumbnail-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.overlay {
	position: absolute;
	inset: 0;
	background: rgb(255 255 255 / 50%);
	color: $color-text;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -1.1%;
	font-weight: 400;
	font-family: $font-base;
	border-radius: 12px;
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 32px;
	height: 32px;
	background-color: $color-disabled;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 10;
	padding: 8px;
	transition: background-color 0.2s ease;
	user-select: none;
}

.prev {
	left: 16px;
}

.next {
	right: 16px;
}

.arrow-icon {
	width: 16px;
	height: 16px;
	object-fit: contain;
}

.reverse {
	transform: rotate(180deg);
}
