/* Подключение шрифта Jost Medium (500) */
@font-face {
	font-family: Jost;
	src: url('../assets/fonts/Jost/Jost-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Подключение шрифта Roboto Regular (400) */
@font-face {
	font-family: Roboto;
	src: url('../assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Подключение шрифта Roboto Medium (500) */
@font-face {
	font-family: Roboto;
	src: url('../assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
