/* Основные цвета из макета */
$color-text: #253017;
$color-caption: #69735d;
$color-disabled-text: #9ca197;
$color-toggle: #b2b9a9;
$color-primary-active: #508826;
$color-accent: #abd27a;
$color-button-hover: #deebc5;
$color-background: #f9faf7;

/* Цвета тегов (категорий) */
$tag-business: #eee7f7;
$tag-creativity: #f7e7f2;
$tag-languages: #ebe5c5;
$tag-education: #e7f2f6;
