@import url('../shared/styles/_fonts.scss');

.title {
	text-align: center;
}

body {
	font-family: Roboto, sans-serif;
	font-weight: 400;
}

.jost-text {
	font-family: Jost, sans-serif;
	font-weight: 500;
}

.roboto-medium {
	font-family: Roboto, sans-serif;
	font-weight: 500;
}
