@use '../../../../../shared/styles/variables' as *;

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-family: $font-base;
}

.fields {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 32px;
}

.dropdown-field {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.dropdown-label {
	font-size: 14px;
	line-height: 20px;
	color: $color-text;
	font-weight: 500;
}

.inline-fields {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	width: 100%;
	max-width: 436px;
}

.inline-field {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.buttons {
	display: flex;
	gap: 12px;
	width: 100%;
	margin-top: 24px;
}

.button-back {
	flex: 1;
}

.button-continue {
	flex: 1;
}

.avatar-wrapper {
	display: flex;
	justify-content: center;
	margin: 0 auto 16px;
}

.avatar-container {
	position: relative;
	width: 72px;
	height: 72px;
	cursor: pointer;
	overflow: hidden;
	transition: border-color 0.2s;

	&:hover {
		border-color: #abd27a;
	}
}

.avatar-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.default-avatar-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.plus-badge {
	position: absolute;
	bottom: -1px;
	right: 5px;
	width: 20px;
	height: 20px;
	background: #abd27a;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #fff;
	box-shadow: 0 1px 4px rgb(0 0 0 / 12%);
}

.plus-badge svg {
	width: 16px;
	height: 16px;
}
