@use '../../../../../shared/styles/variables' as *;

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-family: $font-base;
}

.fields {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 32px;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-self: center;
	width: 100%;
}

.register-button {
	all: unset;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: $color-text-link;
	cursor: pointer;
	padding: 0;
}

.socials {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 24px;
}

.social-button {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	height: 48px;
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 12px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	background-color: #fff;

	img {
		width: 20px;
		height: 20px;
	}
}

.divider {
	display: flex;
	align-items: center;
	margin: 16px 0 24px;
	color: #9ca3af;
	font-size: 14px;

	&::before,
	&::after {
		content: '';
		flex: 1;
		height: 1px;
		background-color: #e5e7eb;
	}

	span {
		padding: 0 12px;
	}
}
