@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.dropdown {
	position: relative;
	width: 436px;
	height: 38px;
	padding: 20px;

	.text {
		margin-bottom: 4px;
		height: 24px;

		@include text-h3;
	}

	.trigger {
		width: 100%;
		padding: 10px;
		border: 1px solid;
		border-color: $color-toggle;
		border-radius: 12px;
		background: $color-input;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:hover {
			border-color: $color-button-hover;
		}

		&:disabled {
			background: $color-disabled;
			cursor: not-allowed;
		}
	}

	.placeholder {
		color: $color-caption;
	}

	.selected {
		color: $color-text-link;
		font-weight: 500;
	}

	.icon {
		margin-left: 10px;
		font-size: 12px;
		transition: transform 0.2s;

		&.open {
			transform: rotate(180deg);
		}
	}

	.menu {
		position: relative;
		top: 100%;
		left: 0;
		right: 0;
		background: $color-card;
		border: 1px solid;
		border-color: $color-toggle;
		border-top: none;
		border-radius: 0 0 12px 12px;
		z-index: 10;
		margin-top: -1px;

		.option {
			padding-left: 10px;
			gap: 10px;
			border-radius: 4px;
			height: 32px;
			cursor: pointer;

			&:hover {
				background: $color-button-hover;
			}

			&.selected {
				background: $color-button-hover;
				color: $color-text-link;
			}

			&.disabled {
				color: $color-disabled-text;
				cursor: not-allowed;
				background: $color-background;

				&:hover {
					background: $color-background;
				}
			}
		}
	}

	&.open {
		.trigger {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom-color: transparent;
		}
	}
}
