@use '../../styles/variables';

.dropdown {
	position: relative;
	width: 200px;

	.trigger {
		width: 100%;
		padding: 10px;
		border: 1px solid;
		border-color: $color-toggle;
		border-radius: 12px;
		background: $color-input;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:hover {
			border-color: $color-button-hover;
		}

		&:disabled {
			background: $color-disabled;
			cursor: not-allowed;
		}
	}

	.placeholder {
		color: $color-caption;
	}

	.selected {
		color: $color-text-link;
		font-weight: 500;
	}

	.icon {
		margin-left: 10px;
		font-size: 12px;
		transition: transform 0.2s;

		&.open {
			transform: rotate(180deg);
		}
	}

	.menu {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: $color-card;
		border: 1px solid;
		border-color: $color-toggle;
		border-radius: 0 0 12px 12px;
		border-top: none;
		z-index: 10;
		margin-top: -1px;

		.option {
			padding: 4px 20px;
			gap: 10px;
			border-radius: 4px;
			height: 32px;
			cursor: pointer;

			&:hover {
				background: $color-button-hover;
			}

			&.selected {
				background: $color-button-hover;
				color: $color-text-link;
			}

			&.disabled {
				color: $color-disabled-text;
				cursor: not-allowed;
				background: $color-background;

				&:hover {
					background: $color-background;
				}
			}
		}
	}
}
