@use '../../styles/variables' as *;

.card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 360px;
	padding: 16px;
	background-color: $color-card;
	border-radius: 16px;
	box-sizing: border-box;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.section-title {
	font-size: 14px;
	line-height: 18px;
	color: $color-caption;
}

.tags {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}
