.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	background-color: #f9faf7;
}

.header {
	width: 100%;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
}

.footer {
	width: 100%;
	margin-top: auto;
}
