@use '../../shared/styles/variables' as *;

.page {
	max-width: 100%;
	margin-inline: auto;
	background-color: $color-background;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
